<?xml version="1.0" encoding="UTF-8"?>
<mappingtask>
  <config>
    <rewriteSubsumptions>true</rewriteSubsumptions>
    <rewriteCoverages>true</rewriteCoverages>
    <rewriteSelfJoins>true</rewriteSelfJoins>
    <rewriteEGDs>false</rewriteEGDs>
    <sortStrategy>-1</sortStrategy>
    <skolemTableStrategy>-1</skolemTableStrategy>
    <useLocalSkolem>false</useLocalSkolem>
  </config>
  <source>
    <type>CSV</type>
    <csv>
      <csv-db-name>NIGUARDA</csv-db-name>
      <csv-tables>
        <csv-table>
          <schema>source/Demographics.csv</schema>
          <instances>
            <instance>
              <path>source/Demographics.csv</path>
              <column-names>true</column-names>
            </instance>
          </instances>
        </csv-table>
        <csv-table>
          <schema>source/unpivoted_Episode.csv</schema>
          <instances>
            <instance>
              <path>source/unpivoted_Episode.csv</path>
              <column-names>true</column-names>
            </instance>
          </instances>
        </csv-table>
        <csv-table>
          <schema>source/NiguardaEncounterMapping.csv</schema>
          <instances>
            <instance>
              <path>source/NiguardaEncounterMapping.csv</path>
              <column-names>true</column-names>
            </instance>
          </instances>
        </csv-table>
        <csv-table>
          <schema>source/cde_variables.csv</schema>
          <instances>
            <instance>
              <path>source/cde_variables.csv</path>
              <column-names>true</column-names>
            </instance>
          </instances>
        </csv-table>
        <csv-table>
          <schema>source/NiguardaPatientMapping.csv</schema>
          <instances>
            <instance>
              <path>source/NiguardaPatientMapping.csv</path>
              <column-names>true</column-names>
            </instance>
          </instances>
        </csv-table>
        <csv-table>
          <schema>source/unpivoted_Imaging.csv</schema>
          <instances>
            <instance>
              <path>source/unpivoted_Imaging.csv</path>
              <column-names>true</column-names>
            </instance>
          </instances>
        </csv-table>
        <csv-table>
          <schema>source/niguarda_variables.csv</schema>
          <instances>
            <instance>
              <path>source/niguarda_variables.csv</path>
              <column-names>true</column-names>
            </instance>
          </instances>
        </csv-table>
        <csv-table>
          <schema>source/unpivoted_Medical_report.csv</schema>
          <instances>
            <instance>
              <path>source/unpivoted_Medical_report.csv</path>
              <column-names>true</column-names>
            </instance>
          </instances>
        </csv-table>
      </csv-tables>
    </csv>
    <inclusions />
    <exclusions />
    <duplications>
      <duplication>NIGUARDA.NiguardaEncounterMapping</duplication>
      <duplication>NIGUARDA.NiguardaPatientMapping</duplication>
      <duplication>NIGUARDA.unpivoted_Episode</duplication>
      <duplication>NIGUARDA.niguarda_variables</duplication>
      <duplication>NIGUARDA.NiguardaEncounterMapping</duplication>
      <duplication>NIGUARDA.NiguardaPatientMapping</duplication>
      <duplication>NIGUARDA.unpivoted_Episode</duplication>
      <duplication>NIGUARDA.NiguardaEncounterMapping</duplication>
      <duplication>NIGUARDA.NiguardaPatientMapping</duplication>
      <duplication>NIGUARDA.unpivoted_Imaging</duplication>
      <duplication>NIGUARDA.niguarda_variables</duplication>
    </duplications>
    <functionalDependencies />
    <selectionConditions>
      <selectionCondition>
        <setPath>NIGUARDA.unpivoted_Medical_report</setPath>
        <condition>isNotNull(NIGUARDA.unpivoted_Medical_report.unpivoted_Medical_reportTuple.CODICE_PRESTAZIONE_ICD9)</condition>
      </selectionCondition>
      <selectionCondition>
        <setPath>NIGUARDA.unpivoted_Imaging_1_</setPath>
        <condition>isNotNull(NIGUARDA.unpivoted_Imaging_1_.unpivoted_ImagingTuple.CODICE_PRESTAZIONE_ICD9)</condition>
      </selectionCondition>
    </selectionConditions>
    <joinConditions>
      <joinCondition>
        <join>
          <from>NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.ID_UNI_PAZIENTE</from>
          <to>NIGUARDA.Demographics.DemographicsTuple.ID_UNI_PAZIENTE</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
      <joinCondition>
        <join>
          <from>NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.ID_UNI_NOSOLOGICO</from>
          <to>NIGUARDA.NiguardaEncounterMapping.NiguardaEncounterMappingTuple.encounter_ide</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
      <joinCondition>
        <join>
          <from>NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.ID_UNI_PAZIENTE</from>
          <to>NIGUARDA.NiguardaPatientMapping.NiguardaPatientMappingTuple.patient_ide</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
      <joinCondition>
        <join>
          <from>NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.attribute</from>
          <to>NIGUARDA.niguarda_variables.niguarda_variablesTuple.initial_name</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
      <joinCondition>
        <join>
          <from>NIGUARDA.unpivoted_Medical_report.unpivoted_Medical_reportTuple.ID_UNI_PAZIENTE</from>
          <to>NIGUARDA.unpivoted_Episode_1_.unpivoted_EpisodeTuple.ID_UNI_PAZIENTE</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
      <joinCondition>
        <join>
          <from>NIGUARDA.unpivoted_Medical_report.unpivoted_Medical_reportTuple.ID_UNI_NOSOLOGICO</from>
          <to>NIGUARDA.unpivoted_Episode_1_.unpivoted_EpisodeTuple.ID_UNI_NOSOLOGICO</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
      <joinCondition>
        <join>
          <from>NIGUARDA.unpivoted_Medical_report.unpivoted_Medical_reportTuple.ID_UNI_PAZIENTE</from>
          <to>NIGUARDA.NiguardaPatientMapping_1_.NiguardaPatientMappingTuple.patient_ide</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
      <joinCondition>
        <join>
          <from>NIGUARDA.unpivoted_Medical_report.unpivoted_Medical_reportTuple.ID_UNI_NOSOLOGICO</from>
          <to>NIGUARDA.NiguardaEncounterMapping_1_.NiguardaEncounterMappingTuple.encounter_ide</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
      <joinCondition>
        <join>
          <from>NIGUARDA.unpivoted_Medical_report.unpivoted_Medical_reportTuple.attribute</from>
          <to>NIGUARDA.niguarda_variables_1_.niguarda_variablesTuple.initial_name</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
      <joinCondition>
        <join>
          <from>NIGUARDA.unpivoted_Imaging_1_.unpivoted_ImagingTuple.ID_UNI_PAZIENTE</from>
          <to>NIGUARDA.NiguardaPatientMapping_3_.NiguardaPatientMappingTuple.patient_ide</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
      <joinCondition>
        <join>
          <from>NIGUARDA.unpivoted_Imaging_1_.unpivoted_ImagingTuple.ID_UNI_PAZIENTE</from>
          <to>NIGUARDA.unpivoted_Episode_2_.unpivoted_EpisodeTuple.ID_UNI_PAZIENTE</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
      <joinCondition>
        <join>
          <from>NIGUARDA.unpivoted_Imaging_1_.unpivoted_ImagingTuple.ID_UNI_NOSOLOGICO</from>
          <to>NIGUARDA.NiguardaEncounterMapping_3_.NiguardaEncounterMappingTuple.encounter_ide</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
      <joinCondition>
        <join>
          <from>NIGUARDA.unpivoted_Imaging_1_.unpivoted_ImagingTuple.ID_UNI_NOSOLOGICO</from>
          <to>NIGUARDA.unpivoted_Episode_2_.unpivoted_EpisodeTuple.ID_UNI_NOSOLOGICO</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
      <joinCondition>
        <join>
          <from>NIGUARDA.unpivoted_Imaging_1_.unpivoted_ImagingTuple.attribute</from>
          <to>NIGUARDA.niguarda_variables_2_.niguarda_variablesTuple.initial_name</to>
        </join>
        <foreignKey>false</foreignKey>
        <mandatory>true</mandatory>
        <matchString>false</matchString>
      </joinCondition>
    </joinConditions>
  </source>
  <target>
    <type>Relational</type>
  <!--  <relational>
      <driver>org.postgresql.Driver</driver>
      <uri>jdbc:postgresql://localhost:5432/postgres</uri>
      <login>postgres</login>
      <password>admin</password>
    </relational> -->
    <relational>
      <driver>org.postgresql.Driver</driver>
      <uri>jdbc:postgresql://{{ .Env.i2b2_db_host }}:{{ default .Env.i2b2_db_port "5432" }}/{{ .Env.i2b2_db_name }}</uri>
      <login>{{ default .Env.i2b2_db_user "postgres" }}</login>
      <password>{{ default .Env.i2b2_db_password "postgres" }}</password>
    </relational>
    </relational>
    <inclusions />
    <exclusions />
    <duplications>
      <duplication>{{ .Env.i2b2_db_name }}.observation_fact</duplication>
      <duplication>{{ .Env.i2b2_db_name }}.concept_dimension</duplication>
      <duplication>{{ .Env.i2b2_db_name }}.observation_fact</duplication>
      <duplication>{{ .Env.i2b2_db_name }}.concept_dimension</duplication>
      <duplication>{{ .Env.i2b2_db_name }}.concept_dimension</duplication>
      <duplication>{{ .Env.i2b2_db_name }}.observation_fact</duplication>
      <duplication>{{ .Env.i2b2_db_name }}.concept_dimension</duplication>
      <duplication>{{ .Env.i2b2_db_name }}.observation_fact</duplication>
      <duplication>{{ .Env.i2b2_db_name }}.concept_dimension</duplication>
    </duplications>
    <functionalDependencies />
    <selectionConditions />
    <joinConditions />
  </target>
  <correspondences>
    <correspondence>
      <source-paths />
      <source-value>datetime()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.patient_dimension.patient_dimensionTuple.import_date</target-path>
      <transformation-function>datetime()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaPatientMapping.NiguardaPatientMappingTuple.patient_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.patient_dimension.patient_dimensionTuple.patient_num</target-path>
      <transformation-function>NIGUARDA.NiguardaPatientMapping.NiguardaPatientMappingTuple.patient_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.Demographics.DemographicsTuple.SESSO</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.patient_dimension.patient_dimensionTuple.sex_cd</target-path>
      <transformation-function>NIGUARDA.Demographics.DemographicsTuple.SESSO</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.Demographics.DemographicsTuple.DATA_NASCITA</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.patient_dimension.patient_dimensionTuple.birth_date</target-path>
      <transformation-function>todate(NIGUARDA.Demographics.DemographicsTuple.DATA_NASCITA, "dd/mm/yyyy")</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.attribute</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.concept_cd</target-path>
      <transformation-function>NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.attribute</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaEncounterMapping.NiguardaEncounterMappingTuple.encounter_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.encounter_num</target-path>
      <transformation-function>NIGUARDA.NiguardaEncounterMapping.NiguardaEncounterMappingTuple.encounter_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaPatientMapping.NiguardaPatientMappingTuple.patient_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.patient_num</target-path>
      <transformation-function>NIGUARDA.NiguardaPatientMapping.NiguardaPatientMappingTuple.patient_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>datetime()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.import_date</target-path>
      <transformation-function>datetime()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.DATA_FINE</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.end_date</target-path>
      <transformation-function>todate(NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.DATA_FINE, "dd/mm/yyyy")</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.niguarda_variables.niguarda_variablesTuple.units</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.units_cd</target-path>
      <transformation-function>NIGUARDA.niguarda_variables.niguarda_variablesTuple.units</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"@"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.modifier_cd</target-path>
      <transformation-function>"@"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>1</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.instance_num</target-path>
      <transformation-function>1</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"Niguarda"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.location_cd</target-path>
      <transformation-function>"Niguarda"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"Niguarda"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.provider_dimension.provider_dimensionTuple.provider_id</target-path>
      <transformation-function>"Niguarda"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"/Provider/Hospital/Niguarda/"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.provider_dimension.provider_dimensionTuple.provider_path</target-path>
      <transformation-function>"/Provider/Hospital/Niguarda/"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"Hospitala Niguarda"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.provider_dimension.provider_dimensionTuple.name_char</target-path>
      <transformation-function>"Hospitala Niguarda"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>datetime()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.provider_dimension.provider_dimensionTuple.import_date</target-path>
      <transformation-function>datetime()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.niguarda_variables.niguarda_variablesTuple.initial_name</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension.concept_dimensionTuple.concept_cd</target-path>
      <transformation-function>NIGUARDA.niguarda_variables.niguarda_variablesTuple.initial_name</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.niguarda_variables.niguarda_variablesTuple.concept_path</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension.concept_dimensionTuple.concept_path</target-path>
      <transformation-function>NIGUARDA.niguarda_variables.niguarda_variablesTuple.concept_path</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.niguarda_variables.niguarda_variablesTuple.initial_name</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension.concept_dimensionTuple.name_char</target-path>
      <transformation-function>NIGUARDA.niguarda_variables.niguarda_variablesTuple.initial_name</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.niguarda_variables.niguarda_variablesTuple.desc</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension.concept_dimensionTuple.concept_blob</target-path>
      <transformation-function>NIGUARDA.niguarda_variables.niguarda_variablesTuple.desc</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>datetime()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension.concept_dimensionTuple.import_date</target-path>
      <transformation-function>datetime()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaEncounterMapping.NiguardaEncounterMappingTuple.encounter_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.visit_dimension.visit_dimensionTuple.encounter_num</target-path>
      <transformation-function>NIGUARDA.NiguardaEncounterMapping.NiguardaEncounterMappingTuple.encounter_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaPatientMapping.NiguardaPatientMappingTuple.patient_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.visit_dimension.visit_dimensionTuple.patient_num</target-path>
      <transformation-function>NIGUARDA.NiguardaPatientMapping.NiguardaPatientMappingTuple.patient_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.DATA_INIZIO</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.visit_dimension.visit_dimensionTuple.start_date</target-path>
      <transformation-function>todate(NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.DATA_INIZIO, "dd/mm/yyyy")</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.DATA_FINE</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.visit_dimension.visit_dimensionTuple.end_date</target-path>
      <transformation-function>todate(NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.DATA_FINE, "dd/mm/yyyy")</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"Niguarda"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.visit_dimension.visit_dimensionTuple.location_cd</target-path>
      <transformation-function>"Niguarda"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>datetime()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.visit_dimension.visit_dimensionTuple.import_date</target-path>
      <transformation-function>datetime()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Medical_report.unpivoted_Medical_reportTuple.attribute</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_1_.observation_factTuple.concept_cd</target-path>
      <transformation-function>NIGUARDA.unpivoted_Medical_report.unpivoted_Medical_reportTuple.attribute</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"Niguarda"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_1_.observation_factTuple.provider_id</target-path>
      <transformation-function>"Niguarda"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"Niguarda"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.provider_id</target-path>
      <transformation-function>"Niguarda"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"@"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_1_.observation_factTuple.modifier_cd</target-path>
      <transformation-function>"@"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>1</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_1_.observation_factTuple.instance_num</target-path>
      <transformation-function>1</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaEncounterMapping_1_.NiguardaEncounterMappingTuple.encounter_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_1_.observation_factTuple.encounter_num</target-path>
      <transformation-function>NIGUARDA.NiguardaEncounterMapping_1_.NiguardaEncounterMappingTuple.encounter_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaPatientMapping_1_.NiguardaPatientMappingTuple.patient_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_1_.observation_factTuple.patient_num</target-path>
      <transformation-function>NIGUARDA.NiguardaPatientMapping_1_.NiguardaPatientMappingTuple.patient_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>datetime()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_1_.observation_factTuple.import_date</target-path>
      <transformation-function>datetime()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>
        newId(getId())_seq1
        <sequence>seq1</sequence>
        <!--<relational>
          <driver>org.postgresql.Driver</driver>
          <uri>jdbc:postgresql://localhost:5432/i2b2_before_harmonization_niguarda</uri>
          <schema>public</schema>
          <login>postgres</login>
          <password>admin</password>
          <table>observation_fact</table>
          <column>text_search_index</column>
          <function>max</function>
        </relational> -->
      <relational>
          <driver>org.postgresql.Driver</driver>
          <uri>jdbc:postgresql://{{ .Env.i2b2_db_host }}:{{ default .Env.i2b2_db_port "5432" }}/{{ .Env.i2b2_db_name }}</uri>
          <schema>public</schema>
          <login>{{ default .Env.i2b2_db_user "postgres" }}</login>
          <password>{{ default .Env.i2b2_db_password "postgres" }}</password>
          <table>observation_fact</table>
          <column>text_search_index</column>
          <function>max</function>
      </relational>
      </source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_1_.observation_factTuple.text_search_index</target-path>
      <transformation-function>newId()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"Niguarda"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_1_.observation_factTuple.location_cd</target-path>
      <transformation-function>"Niguarda"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.niguarda_variables_1_.niguarda_variablesTuple.units</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_1_.observation_factTuple.units_cd</target-path>
      <transformation-function>NIGUARDA.niguarda_variables_1_.niguarda_variablesTuple.units</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.niguarda_variables_1_.niguarda_variablesTuple.initial_name</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_1_.concept_dimensionTuple.concept_cd</target-path>
      <transformation-function>NIGUARDA.niguarda_variables_1_.niguarda_variablesTuple.initial_name</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.niguarda_variables_1_.niguarda_variablesTuple.concept_path</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_1_.concept_dimensionTuple.concept_path</target-path>
      <transformation-function>NIGUARDA.niguarda_variables_1_.niguarda_variablesTuple.concept_path</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.niguarda_variables_1_.niguarda_variablesTuple.initial_name</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_1_.concept_dimensionTuple.name_char</target-path>
      <transformation-function>NIGUARDA.niguarda_variables_1_.niguarda_variablesTuple.initial_name</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.niguarda_variables_1_.niguarda_variablesTuple.desc</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_1_.concept_dimensionTuple.concept_blob</target-path>
      <transformation-function>NIGUARDA.niguarda_variables_1_.niguarda_variablesTuple.desc</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>datetime()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_1_.concept_dimensionTuple.import_date</target-path>
      <transformation-function>datetime()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Episode_1_.unpivoted_EpisodeTuple.DATA_INIZIO</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_1_.observation_factTuple.start_date</target-path>
      <transformation-function>todate(NIGUARDA.unpivoted_Episode_1_.unpivoted_EpisodeTuple.DATA_INIZIO, "dd/mm/yyyy")</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Episode_1_.unpivoted_EpisodeTuple.DATA_FINE</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_1_.observation_factTuple.end_date</target-path>
      <transformation-function>todate(NIGUARDA.unpivoted_Episode_1_.unpivoted_EpisodeTuple.DATA_FINE, "dd/mm/yyyy")</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.niguarda_variables_1_.niguarda_variablesTuple.type</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_1_.observation_factTuple.valtype_cd</target-path>
      <transformation-function>if((NIGUARDA.niguarda_variables_1_.niguarda_variablesTuple.type == "numeric"), "N", "T")</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaEncounterMapping_2_.NiguardaEncounterMappingTuple.encounter_ide</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.encounter_ide</target-path>
      <transformation-function>NIGUARDA.NiguardaEncounterMapping_2_.NiguardaEncounterMappingTuple.encounter_ide</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaEncounterMapping_2_.NiguardaEncounterMappingTuple.encounter_ide_source</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.encounter_ide_source</target-path>
      <transformation-function>NIGUARDA.NiguardaEncounterMapping_2_.NiguardaEncounterMappingTuple.encounter_ide_source</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaEncounterMapping_2_.NiguardaEncounterMappingTuple.project_id</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.project_id</target-path>
      <transformation-function>NIGUARDA.NiguardaEncounterMapping_2_.NiguardaEncounterMappingTuple.project_id</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaEncounterMapping_2_.NiguardaEncounterMappingTuple.patient_ide</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.patient_ide</target-path>
      <transformation-function>NIGUARDA.NiguardaEncounterMapping_2_.NiguardaEncounterMappingTuple.patient_ide</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaEncounterMapping_2_.NiguardaEncounterMappingTuple.encounter_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.encounter_num</target-path>
      <transformation-function>NIGUARDA.NiguardaEncounterMapping_2_.NiguardaEncounterMappingTuple.encounter_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaEncounterMapping_2_.NiguardaEncounterMappingTuple.patient_ide_source</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.patient_ide_source</target-path>
      <transformation-function>NIGUARDA.NiguardaEncounterMapping_2_.NiguardaEncounterMappingTuple.patient_ide_source</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>datetime()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.encounter_mapping.encounter_mappingTuple.import_date</target-path>
      <transformation-function>datetime()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaPatientMapping_2_.NiguardaPatientMappingTuple.patient_ide</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.patient_mapping.patient_mappingTuple.patient_ide</target-path>
      <transformation-function>NIGUARDA.NiguardaPatientMapping_2_.NiguardaPatientMappingTuple.patient_ide</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaPatientMapping_2_.NiguardaPatientMappingTuple.patient_ide_source</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.patient_mapping.patient_mappingTuple.patient_ide_source</target-path>
      <transformation-function>NIGUARDA.NiguardaPatientMapping_2_.NiguardaPatientMappingTuple.patient_ide_source</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaPatientMapping_2_.NiguardaPatientMappingTuple.patient_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.patient_mapping.patient_mappingTuple.patient_num</target-path>
      <transformation-function>NIGUARDA.NiguardaPatientMapping_2_.NiguardaPatientMappingTuple.patient_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaPatientMapping_2_.NiguardaPatientMappingTuple.project_id</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.patient_mapping.patient_mappingTuple.project_id</target-path>
      <transformation-function>NIGUARDA.NiguardaPatientMapping_2_.NiguardaPatientMappingTuple.project_id</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>datetime()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.patient_mapping.patient_mappingTuple.import_date</target-path>
      <transformation-function>datetime()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Medical_report.unpivoted_Medical_reportTuple.CODICE_PRESTAZIONE_ICD9</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_2_.observation_factTuple.concept_cd</target-path>
      <transformation-function>NIGUARDA.unpivoted_Medical_report.unpivoted_Medical_reportTuple.CODICE_PRESTAZIONE_ICD9</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaEncounterMapping_1_.NiguardaEncounterMappingTuple.encounter_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_2_.observation_factTuple.encounter_num</target-path>
      <transformation-function>NIGUARDA.NiguardaEncounterMapping_1_.NiguardaEncounterMappingTuple.encounter_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaPatientMapping_1_.NiguardaPatientMappingTuple.patient_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_2_.observation_factTuple.patient_num</target-path>
      <transformation-function>NIGUARDA.NiguardaPatientMapping_1_.NiguardaPatientMappingTuple.patient_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"Niguarda"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_2_.observation_factTuple.provider_id</target-path>
      <transformation-function>"Niguarda"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Episode_1_.unpivoted_EpisodeTuple.DATA_INIZIO</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_2_.observation_factTuple.start_date</target-path>
      <transformation-function>todate(NIGUARDA.unpivoted_Episode_1_.unpivoted_EpisodeTuple.DATA_INIZIO, "dd/mm/yyyy")</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"@"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_2_.observation_factTuple.modifier_cd</target-path>
      <transformation-function>"@"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>1</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_2_.observation_factTuple.instance_num</target-path>
      <transformation-function>1</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"T"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_2_.observation_factTuple.valtype_cd</target-path>
      <transformation-function>"T"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"1"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_2_.observation_factTuple.tval_char</target-path>
      <transformation-function>"1"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>datetime()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_2_.observation_factTuple.import_date</target-path>
      <transformation-function>datetime()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"Niguarda"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_2_.observation_factTuple.location_cd</target-path>
      <transformation-function>"Niguarda"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>
        newId(getId())_seq1
        <sequence>seq1</sequence>
        <relational>
          <driver>org.postgresql.Driver</driver>
          <uri>jdbc:postgresql://{{ .Env.i2b2_db_host }}:{{ default .Env.i2b2_db_port "5432" }}/{{ .Env.i2b2_db_name }}</uri>
          <schema>public</schema>
          <login>{{ default .Env.i2b2_db_user "postgres" }}</login>
          <password>{{ default .Env.i2b2_db_password "postgres" }}</password>
          <table>observation_fact</table>
          <column>text_search_index</column>
          <function>max</function>
      </relational>
      </source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_2_.observation_factTuple.text_search_index</target-path>
      <transformation-function>newId()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Medical_report.unpivoted_Medical_reportTuple.CODICE_PRESTAZIONE_ICD9</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_2_.concept_dimensionTuple.concept_cd</target-path>
      <transformation-function>NIGUARDA.unpivoted_Medical_report.unpivoted_Medical_reportTuple.CODICE_PRESTAZIONE_ICD9</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Medical_report.unpivoted_Medical_reportTuple.CODICE_PRESTAZIONE_ICD9</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_2_.concept_dimensionTuple.name_char</target-path>
      <transformation-function>NIGUARDA.unpivoted_Medical_report.unpivoted_Medical_reportTuple.CODICE_PRESTAZIONE_ICD9</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>datetime()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_2_.concept_dimensionTuple.import_date</target-path>
      <transformation-function>datetime()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Episode_1_.unpivoted_EpisodeTuple.DATA_FINE</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_2_.observation_factTuple.end_date</target-path>
      <transformation-function>todate(NIGUARDA.unpivoted_Episode_1_.unpivoted_EpisodeTuple.DATA_FINE, "dd/mm/yyyy")</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.niguarda_variables_2_.niguarda_variablesTuple.initial_name</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_3_.concept_dimensionTuple.concept_cd</target-path>
      <transformation-function>NIGUARDA.niguarda_variables_2_.niguarda_variablesTuple.initial_name</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.niguarda_variables_2_.niguarda_variablesTuple.initial_name</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_3_.concept_dimensionTuple.name_char</target-path>
      <transformation-function>NIGUARDA.niguarda_variables_2_.niguarda_variablesTuple.initial_name</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.niguarda_variables_2_.niguarda_variablesTuple.desc</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_3_.concept_dimensionTuple.concept_blob</target-path>
      <transformation-function>NIGUARDA.niguarda_variables_2_.niguarda_variablesTuple.desc</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>datetime()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_3_.concept_dimensionTuple.import_date</target-path>
      <transformation-function>datetime()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaEncounterMapping_3_.NiguardaEncounterMappingTuple.encounter_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_3_.observation_factTuple.encounter_num</target-path>
      <transformation-function>NIGUARDA.NiguardaEncounterMapping_3_.NiguardaEncounterMappingTuple.encounter_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaPatientMapping_3_.NiguardaPatientMappingTuple.patient_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_3_.observation_factTuple.patient_num</target-path>
      <transformation-function>NIGUARDA.NiguardaPatientMapping_3_.NiguardaPatientMappingTuple.patient_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"Niguarda"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_3_.observation_factTuple.provider_id</target-path>
      <transformation-function>"Niguarda"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"@"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_3_.observation_factTuple.modifier_cd</target-path>
      <transformation-function>"@"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>1</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_3_.observation_factTuple.instance_num</target-path>
      <transformation-function>1</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"T"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_3_.observation_factTuple.valtype_cd</target-path>
      <transformation-function>"T"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"Niguarda"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_3_.observation_factTuple.location_cd</target-path>
      <transformation-function>"Niguarda"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>datetime()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_3_.observation_factTuple.import_date</target-path>
      <transformation-function>datetime()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>
        newId(getId())_seq1
        <sequence>seq1</sequence>
        <relational>
          <driver>org.postgresql.Driver</driver>
          <uri>jdbc:postgresql://{{ .Env.i2b2_db_host }}:{{ default .Env.i2b2_db_port "5432" }}/{{ .Env.i2b2_db_name }}</uri>
          <schema>public</schema>
          <login>{{ default .Env.i2b2_db_user "postgres" }}</login>
          <password>{{ default .Env.i2b2_db_password "postgres" }}</password>
          <table>observation_fact</table>
          <column>text_search_index</column>
          <function>max</function>
      </relational>
      </source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_3_.observation_factTuple.text_search_index</target-path>
      <transformation-function>newId()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.niguarda_variables_2_.niguarda_variablesTuple.concept_path</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_3_.concept_dimensionTuple.concept_path</target-path>
      <transformation-function>NIGUARDA.niguarda_variables_2_.niguarda_variablesTuple.concept_path</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Imaging_1_.unpivoted_ImagingTuple.attribute</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_3_.observation_factTuple.concept_cd</target-path>
      <transformation-function>NIGUARDA.unpivoted_Imaging_1_.unpivoted_ImagingTuple.attribute</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"/niguarda/EHR/Imaging/imaging_ICD9/"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_4_.concept_dimensionTuple.concept_path</target-path>
      <transformation-function>"/niguarda/EHR/Imaging/imaging_ICD9/"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"imaging_ICD9"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_4_.concept_dimensionTuple.concept_cd</target-path>
      <transformation-function>"imaging_ICD9"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"imaging_ICD9"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_4_.observation_factTuple.concept_cd</target-path>
      <transformation-function>"imaging_ICD9"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"imaging_ICD9"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_4_.concept_dimensionTuple.name_char</target-path>
      <transformation-function>"imaging_ICD9"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"The ICD9 treatment code for MRI"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_4_.concept_dimensionTuple.concept_blob</target-path>
      <transformation-function>"The ICD9 treatment code for MRI"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>datetime()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_4_.concept_dimensionTuple.import_date</target-path>
      <transformation-function>datetime()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaPatientMapping_3_.NiguardaPatientMappingTuple.patient_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_4_.observation_factTuple.patient_num</target-path>
      <transformation-function>NIGUARDA.NiguardaPatientMapping_3_.NiguardaPatientMappingTuple.patient_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.NiguardaEncounterMapping_3_.NiguardaEncounterMappingTuple.encounter_num</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_4_.observation_factTuple.encounter_num</target-path>
      <transformation-function>NIGUARDA.NiguardaEncounterMapping_3_.NiguardaEncounterMappingTuple.encounter_num</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"Niguarda"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_4_.observation_factTuple.provider_id</target-path>
      <transformation-function>"Niguarda"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"@"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_4_.observation_factTuple.modifier_cd</target-path>
      <transformation-function>"@"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>1</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_4_.observation_factTuple.instance_num</target-path>
      <transformation-function>1</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>
        newId(getId())_seq1
        <sequence>seq1</sequence>
        <relational>
          <driver>org.postgresql.Driver</driver>
          <uri>jdbc:postgresql://{{ .Env.i2b2_db_host }}:{{ default .Env.i2b2_db_port "5432" }}/{{ .Env.i2b2_db_name }}</uri>
          <schema>public</schema>
          <login>{{ default .Env.i2b2_db_user "postgres" }}</login>
          <password>{{ default .Env.i2b2_db_password "postgres" }}</password>
          <table>observation_fact</table>
          <column>text_search_index</column>
          <function>max</function>
      </relational>
      </source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_4_.observation_factTuple.text_search_index</target-path>
      <transformation-function>newId()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>datetime()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_4_.observation_factTuple.import_date</target-path>
      <transformation-function>datetime()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"Niguarda"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_4_.observation_factTuple.location_cd</target-path>
      <transformation-function>"Niguarda"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"T"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_4_.observation_factTuple.valtype_cd</target-path>
      <transformation-function>"T"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Episode_2_.unpivoted_EpisodeTuple.DATA_INIZIO</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_4_.observation_factTuple.start_date</target-path>
      <transformation-function>todate(NIGUARDA.unpivoted_Episode_2_.unpivoted_EpisodeTuple.DATA_INIZIO, "dd/mm/yyyy")</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Episode_2_.unpivoted_EpisodeTuple.DATA_FINE</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_4_.observation_factTuple.end_date</target-path>
      <transformation-function>todate(NIGUARDA.unpivoted_Episode_2_.unpivoted_EpisodeTuple.DATA_FINE, "dd/mm/yyyy")</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>"Did patient has this treatment? 1 if true null otherwise"</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_2_.concept_dimensionTuple.concept_blob</target-path>
      <transformation-function>"Did patient has this treatment? 1 if true null otherwise"</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Medical_report.unpivoted_Medical_reportTuple.CODICE_PRESTAZIONE_ICD9</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_2_.concept_dimensionTuple.concept_path</target-path>
      <transformation-function>append(append("/niguarda/EHR/clinical/treatment/CODICE_PRESTAZIONE_ICD9/", NIGUARDA.unpivoted_Medical_report.unpivoted_Medical_reportTuple.CODICE_PRESTAZIONE_ICD9), "/")</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.niguarda_variables.niguarda_variablesTuple.type</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.valtype_cd</target-path>
      <transformation-function>if((NIGUARDA.niguarda_variables.niguarda_variablesTuple.type == "numeric"), "N", "T")</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.niguarda_variables.niguarda_variablesTuple.type</source-path>
        <source-path>NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.Value</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.tval_char</target-path>
      <transformation-function>if((NIGUARDA.niguarda_variables.niguarda_variablesTuple.type == "numeric"), "E", NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.Value)</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.niguarda_variables.niguarda_variablesTuple.type</source-path>
        <source-path>NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.Value</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.nval_num</target-path>
      <transformation-function>if((NIGUARDA.niguarda_variables.niguarda_variablesTuple.type == "numeric"), NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.Value, null())</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.niguarda_variables_1_.niguarda_variablesTuple.type</source-path>
        <source-path>NIGUARDA.unpivoted_Medical_report.unpivoted_Medical_reportTuple.Value</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_1_.observation_factTuple.tval_char</target-path>
      <transformation-function>if((NIGUARDA.niguarda_variables_1_.niguarda_variablesTuple.type == "numeric"), "E", NIGUARDA.unpivoted_Medical_report.unpivoted_Medical_reportTuple.Value)</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.niguarda_variables_1_.niguarda_variablesTuple.type</source-path>
        <source-path>NIGUARDA.unpivoted_Medical_report.unpivoted_Medical_reportTuple.Value</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_1_.observation_factTuple.nval_num</target-path>
      <transformation-function>if((NIGUARDA.niguarda_variables_1_.niguarda_variablesTuple.type == "numeric"), NIGUARDA.unpivoted_Medical_report.unpivoted_Medical_reportTuple.Value, null())</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Imaging_1_.unpivoted_ImagingTuple.Value</source-path>
        <source-path>NIGUARDA.unpivoted_Imaging_1_.unpivoted_ImagingTuple.attribute</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_3_.observation_factTuple.tval_char</target-path>
      <transformation-function>if((NIGUARDA.unpivoted_Imaging_1_.unpivoted_ImagingTuple.attribute == "RICHIEDENTE"), if((NIGUARDA.unpivoted_Imaging_1_.unpivoted_ImagingTuple.Value == "3760 Neurologia Degenza"), NIGUARDA.unpivoted_Imaging_1_.unpivoted_ImagingTuple.Value, null()), NIGUARDA.unpivoted_Imaging_1_.unpivoted_ImagingTuple.Value)</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Episode_2_.unpivoted_EpisodeTuple.DATA_FINE</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_3_.observation_factTuple.end_date</target-path>
      <transformation-function>todate(NIGUARDA.unpivoted_Episode_2_.unpivoted_EpisodeTuple.DATA_FINE, "dd/mm/yyyy")</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Episode_2_.unpivoted_EpisodeTuple.DATA_INIZIO</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_3_.observation_factTuple.start_date</target-path>
      <transformation-function>todate(NIGUARDA.unpivoted_Episode_2_.unpivoted_EpisodeTuple.DATA_INIZIO, "dd/mm/yyyy")</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Imaging_1_.unpivoted_ImagingTuple.CODICE_PRESTAZIONE_ICD9</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact_4_.observation_factTuple.tval_char</target-path>
      <transformation-function>if((NIGUARDA.unpivoted_Imaging_1_.unpivoted_ImagingTuple.CODICE_PRESTAZIONE_ICD9 == "89.31.01"), "88.91.1", if((NIGUARDA.unpivoted_Imaging_1_.unpivoted_ImagingTuple.CODICE_PRESTAZIONE_ICD9 == "89.31.02"), "88.91.2", NIGUARDA.unpivoted_Imaging_1_.unpivoted_ImagingTuple.CODICE_PRESTAZIONE_ICD9))</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.DATA_INIZIO</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.start_date</target-path>
      <transformation-function>todate(NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.DATA_INIZIO, "dd/mm/yyyy")</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.Demographics.DemographicsTuple.DATA_NASCITA</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.patient_dimension.patient_dimensionTuple.age_in_years_num</target-path>
      <transformation-function>round((toint((date() - todate(NIGUARDA.Demographics.DemographicsTuple.DATA_NASCITA, "dd/mm/yyyy"))) / 365))</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.DATA_INIZIO</source-path>
        <source-path>NIGUARDA.Demographics.DemographicsTuple.DATA_NASCITA</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.visit_dimension.visit_dimensionTuple.patient_age</target-path>
      <transformation-function>(((((((toint(substring(tostring(todate(NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.DATA_INIZIO, "DD/MM/YYYY")), 0, 4)) * 365) + (toint(substring(tostring(todate(NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.DATA_INIZIO, "DD/MM/YYYY")), 5, 7)) * 12)) + toint(substring(tostring(todate(NIGUARDA.unpivoted_Episode.unpivoted_EpisodeTuple.DATA_INIZIO, "DD/MM/YYYY")), 8, 10))) - (toint(substring(tostring(todate(NIGUARDA.Demographics.DemographicsTuple.DATA_NASCITA, "DD/MM/YYYY")), 0, 4)) * 365)) + (toint(substring(tostring(todate(NIGUARDA.Demographics.DemographicsTuple.DATA_NASCITA, "DD/MM/YYYY")), 5, 7)) * 12)) + toint(substring(tostring(todate(NIGUARDA.Demographics.DemographicsTuple.DATA_NASCITA, "DD/MM/YYYY")), 8, 10))) / 365)</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.cde_variables.cde_variablesTuple.cde_label</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_5_.concept_dimensionTuple.name_char</target-path>
      <transformation-function>NIGUARDA.cde_variables.cde_variablesTuple.cde_label</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.cde_variables.cde_variablesTuple.cde_concept_path</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_5_.concept_dimensionTuple.concept_path</target-path>
      <transformation-function>NIGUARDA.cde_variables.cde_variablesTuple.cde_concept_path</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.cde_variables.cde_variablesTuple.cde_code</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_5_.concept_dimensionTuple.concept_cd</target-path>
      <transformation-function>NIGUARDA.cde_variables.cde_variablesTuple.cde_code</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths>
        <source-path>NIGUARDA.cde_variables.cde_variablesTuple.descritption</source-path>
      </source-paths>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_5_.concept_dimensionTuple.concept_blob</target-path>
      <transformation-function>NIGUARDA.cde_variables.cde_variablesTuple.descritption</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>datetime()</source-value>
      <target-path>{{ .Env.i2b2_db_name }}.concept_dimension_5_.concept_dimensionTuple.import_date</target-path>
      <transformation-function>datetime()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
    <correspondence>
      <source-paths />
      <source-value>
        newId(getId())_seq1
        <sequence>seq1</sequence>
        <relational>
          <driver>org.postgresql.Driver</driver>
          <uri>jdbc:postgresql://{{ .Env.i2b2_db_host }}:{{ default .Env.i2b2_db_port "5432" }}/{{ .Env.i2b2_db_name }}</uri>
          <schema>public</schema>
          <login>{{ default .Env.i2b2_db_user "postgres" }}</login>
          <password>{{ default .Env.i2b2_db_password "postgres" }}</password>
          <table>observation_fact</table>
          <column>text_search_index</column>
          <function>max</function>
      </relational>
      </source-value>
      <target-path>{{ .Env.i2b2_db_name }}.observation_fact.observation_factTuple.text_search_index</target-path>
      <transformation-function>newId()</transformation-function>
      <confidence>1.0</confidence>
    </correspondence>
  </correspondences>
</mappingtask>

